
.image-loader {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(/Content/spinner.gif);
    position: absolute;
    top: 0;
    bottom: 0;
}

.search {
    left: 0;
    right: 50%;
}

.beans {
    left: 50%;
    right: 0;
}

.image-container {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
