
.image-loader {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(/Content/spinner.gif);
    position: absolute;
    top: 0;
    bottom: 0;
}

.search {
    left: 0;
    right: 50%;
}

.beans {
    left: 50%;
    right: 0;
}

.image-container {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.label {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 450px;
    margin: -35px 0 0 -225px;
}

.label-large {
    width: 550px;
    height: 100px;
    margin: -50px 0 0 -275px;
}

.label input {
    font-family: Arial, Helvetica, sans-serif;
    width: 450px;
    font-size: 60px;
    font-weight: bold;
    border: solid 3px #000;
    text-align: center;
    text-transform: uppercase;
}

.label-large input {
    width: 550px;
    font-size: 82px;
}
