
.image-container {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
}

.search {
    left: 0;
    right: 50%;
}

.beans {
    left: 50%;
    right: 0;
}
