@model IndexViewModel

<div class="image-loader search">
    <div class="image-container">
        <form class="label">
            <input type="text" value="" placeholder="type here" />
        </form>
    </div>
</div>

<div class="image-loader beans">
    <div class="image-container">
        <div class="label">
            <input type="text" value="AND BEANS" readonly/>
        </div>
    </div>
</div>